<nav class="white black-text">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo black-text">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down black-text">
        <li routerLink='/doctor' routerLinkActive="active"><a>Doctor</a></li>
        <li routerLink='/companion' routerLinkActive="active"><a>Companion</a></li>
        <li *ngIf="!authService.loggedIn()" routerLink='/login' routerLinkActive="active"><a>Login</a></li>
        <li  *ngIf="!authService.loggedIn()" routerLink='/register' routerLinkActive="active"><a>Register</a></li>
        <li  *ngIf="authService.loggedIn()" (click)="authService.logout()" routerLinkActive="active"><a>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
